<% content_for :title, 'Three index' %>

<% content_for :left do %>
	<h1>left side</h1>
<% end %>

<% content_for :center do %>
	<h1>center side</h1>
<% end %>

<% content_for :right do %>
	<h1>right side</h1>
<% end %>


<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
