<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group Chat</title>
</head>
<body>
	<div id="display">
		
	</div>

	<form>
		<input type="text" id="message">
		<button>Send</button>
	</form>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    	$(document).ready(function (){
    		// This trigers the connection event in our server!
    		var my_name;
    		var socket = io.connect();

    		function getUserInfo(){
    			var name = prompt("Please enter your name");
    			my_name = name;
    			socket.emit('new_user', {name: my_name});
    		}

    		getUserInfo();

    		$('form').submit(function(e){
    			e.preventDefault();
    			socket.emit('send_message', {name:my_name, message: $('#message').val()});
    			$('#message').val('');
    		});

    		socket.on('load_messages', function(data){
    			for(var i = 0; i < data.messages.length; i++){
    				$('#display').append("<p>" +data.messages[i] + "</p>");
    			}
    		});

    		socket.on('user_added', function(data){
    			console.log(data);
    			$('#display').append("<p>" + data.name + " just joined the chat</p>");
    		});

    		socket.on('new_message', function(data){
    			$('#display').append("<p>" + data.name + ": " +data.message + "</p>");
    		});
    	});
    </script>
</body>
</html>