<h1>Welcome <%= @user.name %> </h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Htaj3o3JD8I" frameborder="0" allowfullscreen></iframe>

<a href="/logout" data-method="DELETE" data-confirm="You're not magical enough to be here.">Logout</a>