<!DOCTYPE html>
<html>
	<head>
		<title>Color Picker</title>
		<!-- <link rel="stylesheet" type="text/css" href="/static/cp.css"> -->
		<style type="text/css">
			body{
				background-color: rgb({{red}},{{green}}, {{blue}});
			}
			input{
				display: block;
			}
		</style>
	</head>
	<body>
		<h1>Enter your color values below:</h1>
		<form action="/" method="POST">
			Red: <input type="number" name="red">
			Green: <input type="number" name="green">
			Blue: <input type="number" name="blue">
			<input type="submit" name="submit" value="show my color!">
		</form>
	</body>
</html>