<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>All Four Ninja Turtles!</title>
		<!-- <link rel="stylesheet" type="text/css" href="FILE_NAME.css"> -->
		
	</head>
	<body>
		<img src="{{url_for('static', filename=ninja_color)}}">



		
		<!-- orange
		<img src="{{url_for('static', filename='michelangelo.jpg')}}">
		purple
		<img src="{{url_for('static', filename='donatello.jpg')}}">
		blue
		<img src="{{url_for('static', filename='leonardo.jpg')}}">
		wrong
		<img src="{{url_for('static', filename='notapril.jpg')}}"> -->
	</body>
</html>