// Place all the styles related to the times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	margin:0 auto;
	width: 950px;
}

.time_container{
	text-align: center;
}

.time_info{
	margin: 0 auto;
	width: 190px;
}