<!DOCTYPE html>
<html>
	<head>
		<title>Login & Reg | Home</title>
		<style meida='screen'>
			.error{
				color:red;
			}
		</style>
	</head>
	<body>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li {% if message.tags %} class='{{message.tags}}'{% endif %}>
				{{ message }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}


		<h1>Hello world</h1>
		<form action="/validate/" method="POST">
			<label>Username:
				<input type="text" name="username">
			</label><br>
			<label>
				Password: <input type="password" name="password">
			</label><br>
			<label>
				Password con: <input type="password" name="passconf">
			</label><br>
			<input type="submit">
			{% csrf_token %}
		</form>
		<!-- Adding login fucntion -->
		<form action="/login/" method="POST">
			<fieldset>
				<legend>Login</legend>
				<label>Username:
					<input type="text" name="username">
				</label><br>
				<label>
					Password: <input type="password" name="password">
				</label><br>
				<input type="submit">
				{% csrf_token %}
			</fieldset>
		</form>
	</body>
</html>