<!DOCTYPE html>
<html>
<head>
	<title>Mongoose!
	</title>
</head>
<body>
	<form action='/user' method = "POST">
		Name: <input type="text" name="name">
		Age: <input type="integer" name="age">
		<input type="submit" value="Add user">
	</form>

	<h1>Users:</h1>
	<% for(i in users){ %>
		My name is:<%= users[i].name %>
		My age is: <%= users[i].age %>
	<%}%>
</body>
</html>