<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
</head>
<body>
	<p>Name: <%= name %></p>
	<p>Name: <%= session.name %></p>
	<p>Location: <%= location %></p>
	<p>Favorite Language: <%= favorite_language %></p>
</body>
</html>