<!DOCTYPE html>
<html>
	<head>
		<title>My portfolio</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'trp/css/main.css' %}">
	</head>
	<body>
		<h1>Hi, I'm <your name></h1>
		<h2>Welcome to My portfolio</h2>
		<a href="/projects">Projects</a>
		<fieldset>
			<p>I have variety of projects both personal and contract.  They are built using Python, Swift, and JavaScript.</p>
		</fieldset>
		<a href="/about">About ME</a>
		<fieldset>
			<p>I have variety of projects both personal and contract.  They are built using Python, Swift, and JavaScript.</p>
		</fieldset>
		<a href="/testimonials">Testimonials</a>
		<fieldset>
			<p>I have variety of projects both personal and contract.  They are built using Python, Swift, and JavaScript.</p>
		</fieldset>

	</body>
</html>