<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<h1>Welcome <%= @user.name %></h1>

<iframe src="https://youtu.be/450p7goxZqg" height="500" allowfullscreen></iframe>

<a href="/sessions/<%= @user.id %>" data-method="DELETE" data-confirm="byebye yo">Logout</a>