<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form</title>
</head>
<body>
	<form action="/add" method="POST">
		Name: <input type="text" name="name">
		Location: <input type="text" name="location">
		Favorite Language: <input type="text" name="favorite_language">
		<input type="submit" value="Add User">
	</form>
</body>
</html>