<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>
	<h1>Create a new Car</h1>
	<form action="/car" method="POST">
		Name:<input type="text" name="name">
		<br>
		Horsepower: <input type="text" name="horsepower">
		<br>
		<input type="submit" value="Add ">
	</form>
</body>
</html>