<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<p>Car:<%= car.name %></p>
		<p>Horsepower: <%= car.horsepower %></p>
		<a href="/car/edit/<%= car._id %>">Edit</a>
		<a href="/">Home</a>
</body>
</html>