<% content_for :left do %>
	<p>THis is all the left sided content</p>
	<img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
<% end %>

<% content_for :right do %>
	<p>THis is all the right sided content</p>
	<ul>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
		<li>Item One</li>
	</ul>
<% end %>

<% content_for :title, 'Dog Page' %>