

<% content_for :right do %>
	<p>THis is all the right sided content</p>
	<ul>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
		<li>I love cats!!!</li>
	</ul>
<% end %>

<% content_for :title, 'Cat Page' %>

<% content_for :left do %>
	<p>THis is all the left sided content</p>
	<img src="https://www.petfinder.com/wp-content/uploads/2012/11/91615172-find-a-lump-on-cats-skin-632x475.jpg">
<% end %>